body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  font-size: 20px
}

main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  min-height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  color: #333;
}

input {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 12px 16px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-top: 20px;
}

li {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }
}

.checkbox {
  margin-right: 10px;
}

.checked {
  text-decoration: line-through;
  color: #777;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.delete-animation {
  animation: fadeOut 0.5s ease;
}

@keyframes fadeOut {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); }
}

/* time and date style */

.time-and-date-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.time-and-date-dialog.open {
  display: block;
}

.time-and-date-dialog h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.button-container {
  margin-top: 15px;
}

.button-container button {
  margin-right: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

/* Customize DatePicker styles if needed */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}


/* Style for the date and time */
.date-time {
  font-size: 12px;
  color: #555;
  text-align: center;
  width: 100%;
  position: absolute;
  margin-top: 15px
}




